#inp{
    height: 100px;
    width: 500px;
    font-size: 50px;
    position: relative;
    left: 370px;
    top: 200px;
    box-shadow: 10px 10px 20px 0px rgb(250, 5, 107);
    
}
.aa{
    position: relative;
    left: 650px;
    top: 300px;
    font-size: 50px;
}




























